body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  /* Navigation Bar*/

  .logo{
      width: auto;
      height: 60px;
      float: left;  
  }

  nav{
      float: right;  
  }